In [163]:
import pandas as pd

TASK 1.1

In [164]:

user_data= pd.read_csv(r"C:\Users\Vidushi\Downloads\FORTIS.csv")

In [165]:
df= pd.DataFrame(user_data)

In [166]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,FORTIS,EQ,15-May-2017,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87
1,FORTIS,EQ,16-May-2017,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54
2,FORTIS,EQ,17-May-2017,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06
3,FORTIS,EQ,18-May-2017,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88
4,FORTIS,EQ,19-May-2017,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37

In [167]:
df = df[df.Series != "NOT EQ"]

In [168]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,FORTIS,EQ,15-May-2017,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87
1,FORTIS,EQ,16-May-2017,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54
2,FORTIS,EQ,17-May-2017,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06
3,FORTIS,EQ,18-May-2017,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88
4,FORTIS,EQ,19-May-2017,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37

In [169]:
print(user_data)

     Symbol Series         Date  Prev Close  Open Price  High Price  \
0    FORTIS     EQ  15-May-2017      208.40      208.40      209.65
1    FORTIS     EQ  16-May-2017      205.25      206.25      209.45
2    FORTIS     EQ  17-May-2017      207.90      208.00      210.80
3    FORTIS     EQ  18-May-2017      205.90      204.00      205.25
4    FORTIS     EQ  19-May-2017      196.85      197.80      204.90
..      ...    ...          ...         ...         ...         ...
490  FORTIS     EQ  07-May-2019      136.35      136.00      136.70
491  FORTIS     EQ  08-May-2019      135.20      135.35      135.75
492  FORTIS     EQ  09-May-2019      133.60      133.60      133.75
493  FORTIS     EQ  10-May-2019      133.00      133.05      133.60
494  FORTIS     EQ  13-May-2019      131.90      131.10      132.05

     Low Price      Last Price  Close Price  Average Price  \
0       204.05          206.75       205.25         205.66
1       205.45          207.70       207.90         207.86
2       204.90          205.30       205.90         208.01
3       195.00          195.80       196.85         200.05
4       196.45          204.20       203.55         200.95
..         ...             ...          ...            ...
490     135.00          135.35       135.20         135.94
491     133.30          133.50       133.60         134.16
492     132.30          133.05       133.00         132.89
493     131.00          131.50       131.90         132.55
494     129.20          129.80       129.70         130.51

     Total Traded Quantity      Turnover  No. of Trades  Deliverable Qty  \
0                  9078354  1.867055e+09          24607          5980115
1                  2146212  4.461109e+08          15071          1127662
2                  3032479  6.307854e+08          21453          1609171
3                  2852401  5.706199e+08          18709          1337328
4                  4144993  8.329173e+08          37949          1424440
..                     ...           ...            ...              ...
490                 165465  2.249316e+07            865            99695
491                 377871  5.069361e+07           2454           246366
492                 959494  1.275065e+08           7299           798500
493                 868778  1.151553e+08           3592           658577
494                 412786  5.387083e+07           2896           322608

     % Dly Qt to Traded Qty
0                     65.87
1                     52.54
2                     53.06
3                     46.88
4                     34.37
..                      ...
490                   60.25
491                   65.20
492                   83.22
493                   75.80
494                   78.15

[495 rows x 15 columns]

In [170]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
490,FORTIS,EQ,07-May-2019,136.35,136.00,136.70,135.0,135.35,135.2,135.94,165465,2.249316e+07,865,99695,60.25
491,FORTIS,EQ,08-May-2019,135.20,135.35,135.75,133.3,133.50,133.6,134.16,377871,5.069361e+07,2454,246366,65.20
492,FORTIS,EQ,09-May-2019,133.60,133.60,133.75,132.3,133.05,133.0,132.89,959494,1.275065e+08,7299,798500,83.22
493,FORTIS,EQ,10-May-2019,133.00,133.05,133.60,131.0,131.50,131.9,132.55,868778,1.151553e+08,3592,658577,75.80
494,FORTIS,EQ,13-May-2019,131.90,131.10,132.05,129.2,129.80,129.7,130.51,412786,5.387083e+07,2896,322608,78.15

In [171]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,4.950000e+02,4.950000e+02,495.000000,4.950000e+02,495.000000
mean,147.227071,147.619697,150.056566,144.817677,147.191313,147.387495,6.472049e+06,9.616516e+08,32297.375758,2.377658e+06,48.347859
std,15.622923,15.730693,16.039914,15.203893,15.328597,15.489169,1.212499e+07,1.733704e+09,46615.701430,3.752441e+06,16.407507
min,108.000000,112.000000,117.000000,107.100000,114.200000,111.300000,1.344300e+05,1.853253e+07,31.000000,7.459000e+04,15.860000
25%,136.775000,136.825000,138.675000,135.175000,136.775000,136.650000,1.097112e+06,1.565668e+08,8472.500000,6.041930e+05,34.840000
50%,144.650000,145.100000,147.250000,142.400000,144.650000,145.090000,2.519332e+06,3.728209e+08,17183.000000,1.225770e+06,47.680000
75%,151.550000,151.800000,154.550000,149.075000,151.550000,151.740000,6.970070e+06,1.068691e+09,39909.000000,2.788736e+06,59.765000
max,208.400000,208.400000,210.800000,205.450000,207.900000,208.010000,1.321258e+08,1.683902e+10,412156.000000,4.592864e+07,100.000000

TASK 1.2

In [172]:

print("Over the last 90 days")
mean90= df['Close Price'].tail(90).mean()
print("Mean price = {mean}".format(mean= mean90))
max90= df['Close Price'].tail(90).max()
print("Max price = {max}".format(max = max90))
min90= df['Close Price'].tail(90).min()
print("Min price = {min}".format(min= min90))

Over the last 90 days
Mean price = 136.6788888888889
Max price = 141.8
Min price = 129.7

TASK 1.3

In [173]:

df['Date'] = pd.to_datetime(df['Date'])

df.set_index('Date').groupby('Symbol').rolling(window=1, freq='Y').mean()['Close Price']

Symbol  Date
FORTIS  2017-05-15    205.25
        2017-05-16    207.90
        2017-05-17    205.90
        2017-05-18    196.85
        2017-05-19    203.55
                       ...
        2019-05-07    135.20
        2019-05-08    133.60
        2019-05-09    133.00
        2019-05-10    131.90
        2019-05-13    129.70
Name: Close Price, Length: 495, dtype: float64

In [174]:
maxdate= df['Date'].max()
mindate= df['Date'].min()

In [175]:
print(maxdate-mindate)

728 days 00:00:00

In [176]:
import numpy as np
import datetime

In [177]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017

In [178]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5

In [179]:
df['Trades*Price'] = df['Close Price']*df['No. of Trades'] 
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5,5050586.75
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5,3133260.90
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5,4417172.70
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5,3682866.65
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5,7724518.95

In [180]:
g= df.groupby('Year')
g

In [181]:
for Year, Year_df in g:
    print(Year)
    print(Year_df)

2017
     Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0    FORTIS     EQ 2017-05-15      208.40      208.40      209.65     204.05
1    FORTIS     EQ 2017-05-16      205.25      206.25      209.45     205.45
2    FORTIS     EQ 2017-05-17      207.90      208.00      210.80     204.90
3    FORTIS     EQ 2017-05-18      205.90      204.00      205.25     195.00
4    FORTIS     EQ 2017-05-19      196.85      197.80      204.90     196.45
..      ...    ...        ...         ...         ...         ...        ...
155  FORTIS     EQ 2017-12-22      142.55      143.00      144.45     141.80
156  FORTIS     EQ 2017-12-26      142.45      143.75      152.50     143.50
157  FORTIS     EQ 2017-12-27      150.35      151.90      159.60     151.25
158  FORTIS     EQ 2017-12-28      158.10      160.20      167.90     155.85
159  FORTIS     EQ 2017-12-29      161.95      163.00      165.90     158.10

         Last Price  Close Price  Average Price  Total Traded Quantity  \
0            206.75       205.25         205.66                9078354
1            207.70       207.90         207.86                2146212
2            205.30       205.90         208.01                3032479
3            195.80       196.85         200.05                2852401
4            204.20       203.55         200.95                4144993
..              ...          ...            ...                    ...
155          142.40       142.45         143.21                5277265
156          150.50       150.35         149.78               15894056
157          159.00       158.10         155.86               12995380
158          162.50       161.95         162.87               17624348
159          160.60       160.45         162.60                6415419

         Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
0    1.867055e+09          24607          5980115                   65.87
1    4.461109e+08          15071          1127662                   52.54
2    6.307854e+08          21453          1609171                   53.06
3    5.706199e+08          18709          1337328                   46.88
4    8.329173e+08          37949          1424440                   34.37
..            ...            ...              ...                     ...
155  7.557499e+08          22534          1983015                   37.58
156  2.380556e+09          57090          6423682                   40.42
157  2.025395e+09          56844          3695796                   28.44
158  2.870513e+09          76816          5226177                   29.65
159  1.043144e+09          37508          1901479                   29.64

     Year  Month  Trades*Price
0    2017      5    5050586.75
1    2017      5    3133260.90
2    2017      5    4417172.70
3    2017      5    3682866.65
4    2017      5    7724518.95
..    ...    ...           ...
155  2017     12    3209968.30
156  2017     12    8583481.50
157  2017     12    8987036.40
158  2017     12   12440351.20
159  2017     12    6018158.60

[160 rows x 18 columns]
2018
     Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
160  FORTIS     EQ 2018-01-01      160.45      159.95      163.25     156.25
161  FORTIS     EQ 2018-01-02      157.40      157.00      158.40     152.80
162  FORTIS     EQ 2018-01-03      154.75      155.55      170.90     155.35
163  FORTIS     EQ 2018-01-04      163.25      163.85      166.25     163.15
164  FORTIS     EQ 2018-01-05      164.05      165.80      171.25     162.25
..      ...    ...        ...         ...         ...         ...        ...
401  FORTIS     EQ 2018-12-24      134.95      135.40      135.90     134.60
402  FORTIS     EQ 2018-12-26      134.95      134.60      135.80     134.20
403  FORTIS     EQ 2018-12-27      135.20      135.45      136.50     133.20
404  FORTIS     EQ 2018-12-28      134.15      134.70      138.50     134.10
405  FORTIS     EQ 2018-12-31      137.40      138.00      141.85     137.50

         Last Price  Close Price  Average Price  Total Traded Quantity  \
160          156.55       157.40         160.37                2878195
161          155.55       154.75         155.24                5056467
162          163.25       163.25         166.25               25657824
163          163.25       164.05         164.60                6249153
164          162.50       163.30         166.57                7027626
..              ...          ...            ...                    ...
401          134.90       134.95         135.12                1278231
402          135.20       135.20         134.96                 546089
403          134.50       134.15         134.78                1784316
404          138.30       137.40         136.22                 803545
405          139.95       140.50         140.11                1851994

         Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
160  4.615834e+08          14605           738159                   25.65
161  7.849473e+08          24249          1590138                   31.45
162  4.265574e+09         109422          6265540                   24.42
163  1.028615e+09          28281          1790448                   28.65
164  1.170595e+09          34332          2293444                   32.63
..            ...            ...              ...                     ...
401  1.727113e+08           3353           967955                   75.73
402  7.369951e+07           2164           235220                   43.07
403  2.404911e+08           5937          1140712                   63.93
404  1.094566e+08           8675           459040                   57.13
405  2.594761e+08          11758          1189528                   64.23

     Year  Month  Trades*Price
160  2018      1    2298827.00
161  2018      1    3752532.75
162  2018      1   17863141.50
163  2018      1    4639498.05
164  2018      1    5606415.60
..    ...    ...           ...
401  2018     12     452487.35
402  2018     12     292572.80
403  2018     12     796448.55
404  2018     12    1191945.00
405  2018     12    1651999.00

[246 rows x 18 columns]
2019
     Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
406  FORTIS     EQ 2019-01-01      140.50      140.50      140.55     138.55
407  FORTIS     EQ 2019-01-02      140.20      139.90      141.25     139.30
408  FORTIS     EQ 2019-01-03      140.50      140.15      141.70     140.00
409  FORTIS     EQ 2019-01-04      140.75      140.30      141.20     139.25
410  FORTIS     EQ 2019-01-07      140.30      140.50      140.90     139.10
..      ...    ...        ...         ...         ...         ...        ...
490  FORTIS     EQ 2019-05-07      136.35      136.00      136.70     135.00
491  FORTIS     EQ 2019-05-08      135.20      135.35      135.75     133.30
492  FORTIS     EQ 2019-05-09      133.60      133.60      133.75     132.30
493  FORTIS     EQ 2019-05-10      133.00      133.05      133.60     131.00
494  FORTIS     EQ 2019-05-13      131.90      131.10      132.05     129.20

         Last Price  Close Price  Average Price  Total Traded Quantity  \
406          140.30       140.20         139.37                 624458
407          140.50       140.50         140.35                 681165
408          140.75       140.75         140.91                 396135
409          140.30       140.30         140.36                 790643
410          140.00       139.90         140.04                 578155
..              ...          ...            ...                    ...
490          135.35       135.20         135.94                 165465
491          133.50       133.60         134.16                 377871
492          133.05       133.00         132.89                 959494
493          131.50       131.90         132.55                 868778
494          129.80       129.70         130.51                 412786

         Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
406  8.703268e+07           2877           386823                   61.95
407  9.560187e+07           8077           385438                   56.59
408  5.582112e+07           9867           226904                   57.28
409  1.109776e+08           3976           483666                   61.17
410  8.096313e+07           5164           317485                   54.91
..            ...            ...              ...                     ...
490  2.249316e+07            865            99695                   60.25
491  5.069361e+07           2454           246366                   65.20
492  1.275065e+08           7299           798500                   83.22
493  1.151553e+08           3592           658577                   75.80
494  5.387083e+07           2896           322608                   78.15

     Year  Month  Trades*Price
406  2019      1     403355.40
407  2019      1    1134818.50
408  2019      1    1388780.25
409  2019      1     557832.80
410  2019      1     722443.60
..    ...    ...           ...
490  2019      5     116948.00
491  2019      5     327854.40
492  2019      5     970767.00
493  2019      5     473784.80
494  2019      5     375611.20

[89 rows x 18 columns]

In [182]:
df_2017= g.get_group(2017)
df_2017.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5,5050586.75
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5,3133260.90
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5,4417172.70
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5,3682866.65
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5,7724518.95

In [183]:
df_2018= g.get_group(2018)
df_2018.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price
160,FORTIS,EQ,2018-01-01,160.45,159.95,163.25,156.25,156.55,157.40,160.37,2878195,4.615834e+08,14605,738159,25.65,2018,1,2298827.00
161,FORTIS,EQ,2018-01-02,157.40,157.00,158.40,152.80,155.55,154.75,155.24,5056467,7.849473e+08,24249,1590138,31.45,2018,1,3752532.75
162,FORTIS,EQ,2018-01-03,154.75,155.55,170.90,155.35,163.25,163.25,166.25,25657824,4.265574e+09,109422,6265540,24.42,2018,1,17863141.50
163,FORTIS,EQ,2018-01-04,163.25,163.85,166.25,163.15,163.25,164.05,164.60,6249153,1.028615e+09,28281,1790448,28.65,2018,1,4639498.05
164,FORTIS,EQ,2018-01-05,164.05,165.80,171.25,162.25,162.50,163.30,166.57,7027626,1.170595e+09,34332,2293444,32.63,2018,1,5606415.60

In [184]:
df_2019= g.get_group(2019)
df_2019.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price
406,FORTIS,EQ,2019-01-01,140.50,140.50,140.55,138.55,140.30,140.20,139.37,624458,8.703268e+07,2877,386823,61.95,2019,1,403355.40
407,FORTIS,EQ,2019-01-02,140.20,139.90,141.25,139.30,140.50,140.50,140.35,681165,9.560187e+07,8077,385438,56.59,2019,1,1134818.50
408,FORTIS,EQ,2019-01-03,140.50,140.15,141.70,140.00,140.75,140.75,140.91,396135,5.582112e+07,9867,226904,57.28,2019,1,1388780.25
409,FORTIS,EQ,2019-01-04,140.75,140.30,141.20,139.25,140.30,140.30,140.36,790643,1.109776e+08,3976,483666,61.17,2019,1,557832.80
410,FORTIS,EQ,2019-01-07,140.30,140.50,140.90,139.10,140.00,139.90,140.04,578155,8.096313e+07,5164,317485,54.91,2019,1,722443.60

TASK 1.4

In [185]:

print("MONTHWISE VWAP IN 2017")
for i in range(5,13):
    Q17= df_2017.loc[df_2017['Month'] == i,'No. of Trades'].sum()
    PQ17= df_2017.loc[df_2017['Month'] == i,'Trades*Price'].sum()
    vwap= PQ17/Q17
    print("VWAP for the {month}th month of 2017 is {vwap}".format(month=i, vwap= vwap))

MONTHWISE VWAP IN 2017
VWAP for the 5th month of 2017 is 200.25237179789593
VWAP for the 6th month of 2017 is 182.0418615190847
VWAP for the 7th month of 2017 is 158.38073578396114
VWAP for the 8th month of 2017 is 151.29566381839638
VWAP for the 9th month of 2017 is 150.81543103207682
VWAP for the 10th month of 2017 is 148.32241756524456
VWAP for the 11th month of 2017 is 135.90151779970887
VWAP for the 12th month of 2017 is 143.35272496018356

In [186]:
print("MONTHWISE VWAP IN 2018")
for i in range(1,13):
    Q18= df_2018.loc[df_2018['Month'] == i,'No. of Trades'].sum()
    PQ18= df_2018.loc[df_2018['Month'] == i,'Trades*Price'].sum()
    vwap= PQ18/Q18
    print("VWAP for the {month}th month of 2018 is {vwap}".format(month=i, vwap= vwap))

MONTHWISE VWAP IN 2018
VWAP for the 1th month of 2018 is 152.05504695684286
VWAP for the 2th month of 2018 is 146.26980984662197
VWAP for the 3th month of 2018 is 147.0241687824677
VWAP for the 4th month of 2018 is 144.4688688710065
VWAP for the 5th month of 2018 is 151.34959526779372
VWAP for the 6th month of 2018 is 138.52528765044295
VWAP for the 7th month of 2018 is 140.8686302352007
VWAP for the 8th month of 2018 is 147.51119966193775
VWAP for the 9th month of 2018 is 141.4444872976849
VWAP for the 10th month of 2018 is 133.87085871181918
VWAP for the 11th month of 2018 is 144.60414430757527
VWAP for the 12th month of 2018 is 141.6097590462635

In [187]:
print("MONTHWISE VWAP IN 2019")
for i in range(1,6):
    Q19= df_2019.loc[df_2019['Month'] == i,'No. of Trades'].sum()
    PQ19= df_2019.loc[df_2019['Month'] == i,'Trades*Price'].sum()
    vwap= PQ19/Q19
    print("VWAP for the {month}th month of 2019 is {vwap}".format(month=i, vwap= vwap))

MONTHWISE VWAP IN 2019
VWAP for the 1th month of 2019 is 137.3823757883607
VWAP for the 2th month of 2019 is 135.2471210078177
VWAP for the 3th month of 2019 is 136.43565811005544
VWAP for the 4th month of 2019 is 138.25774346257893
VWAP for the 5th month of 2019 is 133.31813024408845

TASK 1.5

In [188]:

def avgprice(N, duration):
    if(duration== 'months' or duration== 'month'):
        n= N*30
    elif(duration== 'years' or duration== 'year'):
        n=N*365
    elif(duration== 'weeks' or duration== 'week'):
        n= N*7
    else:
        n= N
        
    avg= df['Average Price'].tail(n).mean()
    print("Average stock price in the last {n} {duration} = {avg}".format(n= N, duration= duration, avg= avg))
    
    return

In [189]:
def profitloss(N, duration):
    if(duration== 'months' or duration== 'month'):
        n= N*30
    elif(duration== 'years' or duration== 'year'):
        n=N*365
    elif(duration== 'weeks' or duration== 'week'):
        n= N*7
    else:
        n= N
    row=494-n
    ClosePrice_nthday= df.iloc[row]['Close Price'] 
    ClosePrice_lastday= df.iloc[-1]['Close Price'] 
    diff=ClosePrice_lastday-ClosePrice_nthday
    gain_or_loss= (diff/ClosePrice_nthday)*100
    if(diff>=0):
        print("Profit percentage in the last {n} {duration} = {perc}%".format(n= N, duration= duration, perc= gain_or_loss))
        
    else:
        print("Loss percentage in the last {n} {duration} = {perc}%".format(n= N, duration= duration, perc= -gain_or_loss)) 

    return

In [190]:
for i in range(0,6):
    N= int(input())
    duration= str(input())

    avgprice(N, duration)
    profitloss(N, duration)

1
week
Average stock price in the last 1 week = 134.39000000000001
Loss percentage in the last 1 week = 5.912223431265873%
2
weeks
Average stock price in the last 2 weeks = 136.64857142857142
Loss percentage in the last 2 weeks = 7.621082621082633%
1
month
Average stock price in the last 1 month = 137.13633333333334
Loss percentage in the last 1 month = 4.842259721203244%
3
months
Average stock price in the last 3 months = 136.7568888888889
Loss percentage in the last 3 months = 5.604075691411948%
6
months
Average stock price in the last 6 months = 139.03144444444447
Loss percentage in the last 6 months = 10.582557738710804%
1
year
Average stock price in the last 1 year = 142.0034246575344
Loss percentage in the last 1 year = 0.7271335629544715%

TASK 1.6

In [191]:
df['Day_Perc_Change'] = df['Close Price'].pct_change(periods = 1)
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price,Day_Perc_Change
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5,5050586.75,NaN
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5,3133260.90,0.012911
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5,4417172.70,-0.009620
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5,3682866.65,-0.043953
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5,7724518.95,0.034036

In [192]:
df.fillna(0)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price,Day_Perc_Change
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5,5050586.75,0.000000
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5,3133260.90,0.012911
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5,4417172.70,-0.009620
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5,3682866.65,-0.043953
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5,7724518.95,0.034036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,FORTIS,EQ,2019-05-07,136.35,136.00,136.70,135.00,135.35,135.20,135.94,165465,2.249316e+07,865,99695,60.25,2019,5,116948.00,-0.008434
491,FORTIS,EQ,2019-05-08,135.20,135.35,135.75,133.30,133.50,133.60,134.16,377871,5.069361e+07,2454,246366,65.20,2019,5,327854.40,-0.011834
492,FORTIS,EQ,2019-05-09,133.60,133.60,133.75,132.30,133.05,133.00,132.89,959494,1.275065e+08,7299,798500,83.22,2019,5,970767.00,-0.004491
493,FORTIS,EQ,2019-05-10,133.00,133.05,133.60,131.00,131.50,131.90,132.55,868778,1.151553e+08,3592,658577,75.80,2019,5,473784.80,-0.008271
494,FORTIS,EQ,2019-05-13,131.90,131.10,132.05,129.20,129.80,129.70,130.51,412786,5.387083e+07,2896,322608,78.15,2019,5,375611.20,-0.016679

TASK 1.7

In [193]:
for i in df['Day_Perc_Change']:
    if i >= -0.5 and i <= 0.5:
        df['Trend'] = 'Slight or No change'
    elif i >= 0.5 and i <= 1:
        df['Trend'] = 'Slight Positive'
    elif i >= -1 and i <= -0.5:
        df['Trend'] = 'Slight Negative'
    elif i >= 1 and i <= 3:
        df['Trend'] = 'Positive'
    elif i >= -3 and i <= -1:
        df['Trend'] = 'Negative'
    elif i >= 3 and i <= 7:
        df['Trend'] = 'Among Top Gainers'   
    elif i >= -7 and i <= -3:
        df['Trend'] = 'Among Top Losers'  
    elif i >7:
        df['Trend'] = 'Bull Run'
    elif i < -7:
        df['Trend'] = 'Bear Drop'

In [194]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price,Day_Perc_Change,Trend
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5,5050586.75,NaN,Slight or No change
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5,3133260.90,0.012911,Slight or No change
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5,4417172.70,-0.009620,Slight or No change
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5,3682866.65,-0.043953,Slight or No change
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5,7724518.95,0.034036,Slight or No change

TASK 1.8

In [195]:
g= df.groupby('Trend')
g

In [196]:
for Trend, Trend_df in g:
    print(Trend)
    print(Trend_df)

Slight or No change
     Symbol Series       Date  Prev Close  Open Price  High Price  Low Price  \
0    FORTIS     EQ 2017-05-15      208.40      208.40      209.65     204.05
1    FORTIS     EQ 2017-05-16      205.25      206.25      209.45     205.45
2    FORTIS     EQ 2017-05-17      207.90      208.00      210.80     204.90
3    FORTIS     EQ 2017-05-18      205.90      204.00      205.25     195.00
4    FORTIS     EQ 2017-05-19      196.85      197.80      204.90     196.45
..      ...    ...        ...         ...         ...         ...        ...
490  FORTIS     EQ 2019-05-07      136.35      136.00      136.70     135.00
491  FORTIS     EQ 2019-05-08      135.20      135.35      135.75     133.30
492  FORTIS     EQ 2019-05-09      133.60      133.60      133.75     132.30
493  FORTIS     EQ 2019-05-10      133.00      133.05      133.60     131.00
494  FORTIS     EQ 2019-05-13      131.90      131.10      132.05     129.20

         Last Price  Close Price  Average Price  Total Traded Quantity  \
0            206.75       205.25         205.66                9078354
1            207.70       207.90         207.86                2146212
2            205.30       205.90         208.01                3032479
3            195.80       196.85         200.05                2852401
4            204.20       203.55         200.95                4144993
..              ...          ...            ...                    ...
490          135.35       135.20         135.94                 165465
491          133.50       133.60         134.16                 377871
492          133.05       133.00         132.89                 959494
493          131.50       131.90         132.55                 868778
494          129.80       129.70         130.51                 412786

         Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
0    1.867055e+09          24607          5980115                   65.87
1    4.461109e+08          15071          1127662                   52.54
2    6.307854e+08          21453          1609171                   53.06
3    5.706199e+08          18709          1337328                   46.88
4    8.329173e+08          37949          1424440                   34.37
..            ...            ...              ...                     ...
490  2.249316e+07            865            99695                   60.25
491  5.069361e+07           2454           246366                   65.20
492  1.275065e+08           7299           798500                   83.22
493  1.151553e+08           3592           658577                   75.80
494  5.387083e+07           2896           322608                   78.15

     Year  Month  Trades*Price  Day_Perc_Change                Trend
0    2017      5    5050586.75              NaN  Slight or No change
1    2017      5    3133260.90         0.012911  Slight or No change
2    2017      5    4417172.70        -0.009620  Slight or No change
3    2017      5    3682866.65        -0.043953  Slight or No change
4    2017      5    7724518.95         0.034036  Slight or No change
..    ...    ...           ...              ...                  ...
490  2019      5     116948.00        -0.008434  Slight or No change
491  2019      5     327854.40        -0.011834  Slight or No change
492  2019      5     970767.00        -0.004491  Slight or No change
493  2019      5     473784.80        -0.008271  Slight or No change
494  2019      5     375611.20        -0.016679  Slight or No change

[495 rows x 20 columns]

In [197]:
df_1= g.get_group("Slight or No change")
df_1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Trades*Price,Day_Perc_Change,Trend
0,FORTIS,EQ,2017-05-15,208.40,208.40,209.65,204.05,206.75,205.25,205.66,9078354,1.867055e+09,24607,5980115,65.87,2017,5,5050586.75,NaN,Slight or No change
1,FORTIS,EQ,2017-05-16,205.25,206.25,209.45,205.45,207.70,207.90,207.86,2146212,4.461109e+08,15071,1127662,52.54,2017,5,3133260.90,0.012911,Slight or No change
2,FORTIS,EQ,2017-05-17,207.90,208.00,210.80,204.90,205.30,205.90,208.01,3032479,6.307854e+08,21453,1609171,53.06,2017,5,4417172.70,-0.009620,Slight or No change
3,FORTIS,EQ,2017-05-18,205.90,204.00,205.25,195.00,195.80,196.85,200.05,2852401,5.706199e+08,18709,1337328,46.88,2017,5,3682866.65,-0.043953,Slight or No change
4,FORTIS,EQ,2017-05-19,196.85,197.80,204.90,196.45,204.20,203.55,200.95,4144993,8.329173e+08,37949,1424440,34.37,2017,5,7724518.95,0.034036,Slight or No change

In [198]:
Avg1= df_1['Total Traded Quantity'].mean()
Median1= df_1['Total Traded Quantity'].median()
print("Mean of total traded quantity for Slight or No change:")
print(Avg1)
print("Median of total traded quantity for Slight or No change:")
print(Median1)

Mean of total traded quantity for Slight or No change:
6472049.377777778
Median of total traded quantity for Slight or No change:
2519332.0

TASK 1.9

In [201]:

df.to_csv('C:/Users/Vidushi/Desktop/week2.csv')